@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1jh6zh');
  src:  url('fonts/icomoon.eot?1jh6zh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1jh6zh') format('truetype'),
    url('fonts/icomoon.woff?1jh6zh') format('woff'),
    url('fonts/icomoon.svg?1jh6zh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-explore-360:before {
  content: "\e921";
  color: #641d83;
}
.icon-video:before {
  content: "\e922";
  color: #641d83;
}
.icon-weather:before {
  content: "\e923";
  color: #641d83;
}
.icon-logo:before {
  content: "\e924";
  color: #641d83;
}
.icon-star-half:before {
  content: "\e925";
  color: #641d83;
}
.icon-tourism-agency:before {
  content: "\e926";
  color: #590b83;
}
.icon-theme-park:before {
  content: "\e927";
  color: #590b83;
}
.icon-park:before {
  content: "\e928";
  color: #590b83;
}
.icon-natural-parks:before {
  content: "\e929";
  color: #641d83;
}
.icon-lovely-towns:before {
  content: "\e92a";
  color: #641d83;
}
.icon-heritage-towns:before {
  content: "\e92b";
  color: #641d83;
}
.icon-help:before {
  content: "\e92c";
  color: #590b83;
}
.icon-geopos:before {
  content: "\e92d";
  color: #590b83;
}
.icon-conferences:before {
  content: "\e92e";
  color: #590b83;
}
.icon-categories:before {
  content: "\e92f";
  color: #641d83;
}
.icon-social-fb:before {
  content: "\e905";
  color: #641c83;
}
.icon-social-ig:before {
  content: "\e906";
  color: #641c83;
}
.icon-social-tw:before {
  content: "\e907";
  color: #641c83;
}
.icon-archaeological:before {
  content: "\e908";
  color: #641d83;
}
.icon-beach:before {
  content: "\e909";
  color: #5c267e;
}
.icon-camera:before {
  content: "\e90a";
  color: #5c267e;
}
.icon-church:before {
  content: "\e90b";
  color: #641d83;
}
.icon-coffee:before {
  content: "\e90c";
  color: #641d83;
}
.icon-heritage:before {
  content: "\e90d";
  color: #5c267e;
}
.icon-hotel:before {
  content: "\e90e";
  color: #641d83;
}
.icon-nature:before {
  content: "\e90f";
  color: #641d83;
}
.icon-palenquera:before {
  content: "\e910";
  color: #641d83;
}
.icon-filter:before {
  content: "\e911";
  color: #641d83;
}
.icon-search:before {
  content: "\e912";
  color: #641d83;
}
.icon-bus:before {
  content: "\e913";
  color: #5c267e;
}
.icon-car:before {
  content: "\e914";
  color: #5c267e;
}
.icon-heart-outline:before {
  content: "\e915";
  color: #5c267e;
}
.icon-heart:before {
  content: "\e916";
  color: #5c267e;
}
.icon-info:before {
  content: "\e917";
  color: #5c267e;
}
.icon-route:before {
  content: "\e918";
  color: #5c267e;
}
.icon-star-outline:before {
  content: "\e919";
  color: #5c267e;
}
.icon-star:before {
  content: "\e91a";
  color: #5c267e;
}
.icon-close:before {
  content: "\e91b";
  color: #5c267e;
}
.icon-arrow-bottom:before {
  content: "\e91c";
  color: #641c83;
}
.icon-arrow-left:before {
  content: "\e91d";
  color: #641c83;
}
.icon-arrow-right:before {
  content: "\e91e";
  color: #641c83;
}
.icon-arrow-top:before {
  content: "\e91f";
  color: #641c83;
}
.icon-edit:before {
  content: "\e920";
  color: #641c83;
}
.icon-location:before {
  content: "\e900";
  color: #641d83;
}
.icon-explore:before {
  content: "\e901";
  color: #641d83;
}
.icon-qr-code:before {
  content: "\e902";
  color: #590b83;
}
.icon-pits:before {
  content: "\e903";
  color: #590b83;
}
.icon-megaphone:before {
  content: "\e904";
  color: #590b83;
}
